<%include ../public/header.html %>

<% if(!isEmpty(user)){ %>
    <a href="/Home/Index/logOut" class="pull-right">退出</a>
<% } %>

<h1>K'</h1>

<% if(!isEmpty(user) && user.id === 0){ %>
    <a href="/Home/Index/letAdd" class="pull-right">添加文章</a>
<% } %>

<%-chiparticleList%>

<a class="btn btn-primary" id="btn">查询</a>
<script src="/resource/script/lib/lib.js" type="text/javascript"></script>
<script>
    window.onload = function(){
        var isSubmitting = false,
                btn = D('btn');
        btn.on(click,function(){
            var self = this;
            if(!isSubmitting) {
                isSubmitting = true;
                self.addClass('disabled');
                window.history.pushState(null,'首页','/');
                queryData('/',{},function(data){
                    console.log(data.data.content);
                    isSubmitting = false;
                    self.removeClass('disabled');
                });
            }
        });
    };
</script>
<%include ../public/footer.html %>


