a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    border: none;
    outline: none;
}

::-webkit-scrollbar {width:0;}


/*list*/

.news-category-nav {
    background: #eee;
    font-size: 1.14em;
    line-height: 3em;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-top:1px solid #fff;
    border-bottom: 1px solid #c8c8c8;
}

.news-category-nav div {
    white-space: nowrap;
    overflow-x:auto;
    overflow-y: hidden;
    padding: 0 1.5em;
    line-height: 2.2em;
}

.news-category-nav em.nav-mask {
    position: absolute;
    height: 3em;
    top: 0;
    background: #eee;
    opacity: .7;
    width: 1.5em;
}

.news-category-nav em.nav-mask.mask-left {
    left: 0;
}

.news-category-nav em.nav-mask.mask-right {
    right: 0;
}

.news-category-nav a {
    color: #6d6d6d;
    margin-right: 1.5em;
    display: inline-block;
}

.news-category-nav a.active {
    color: #004e98;
}

.news-list-container {
    position: relative;
    height: 100%;
}

/*.news-list-container .tab {*/
    /*height: auto;*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
/*}*/

.news-list {
    padding: 0 5px;
    min-height: 420px;
}

.news-list li {
    list-style: none;
    display: block;
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
}

.news-list li.item-next {
    text-align: center;
    border-bottom: 0;
    display:none;
}

.news-list li:active {
    background: #f0f0f0;
}

.news-list li a {
    display: block;
    position: relative;
}

.news-list li a:hover,
.news-list li a:active,
.news-list li a:focus {
    text-decoration: none;
}

.news-list li a:after {
    display: block;
    content: "";
    clear: both;
}

.news-list li .title {
    font-size: 1.286em;
    color: #000;
    height: 1.286em;
    overflow: hidden;
    margin-top: -3px;
    line-height: 1.286em;
}

.news-list li .intro {
    color: #b5b5b5;
}

.news-list li.top .title:before {
    display: inline-block;
    text-align: center;
    background: #cb1515;
    color: #fff;
    margin-right: 0.5em;
    content: '荐';
    border-radius: 2px;
    font-size: 0.78em ;
    line-height: 1.286em;
    padding: 0 0.15em;
    position: relative;
    top: -2px;
}

.news-list li.top .intro, .news-list li.top .date {
    display: none;
}

.news-list li.top .view {
    display: block;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}

.news-list li.top .view img {
    width: 100%;
}

.news-list li.top.no-img .view {
    display: none;
}

.news-list li.top.no-img .intro {
    display: block;
    margin: 0;
    height: 2.858em;
    overflow: hidden;
}

.news-list li.normal .view,
.news-list li.normal .content {
    float: right;
    display: block;
    position: relative;
    overflow: hidden;
}

.news-list li.normal .view {
    width: 24.44%;
}

.news-list li.normal .view b {
    display: block;
    margin-top: 81.818%;
}

    .news-list li.normal .view img, .news-list li.normal .content span {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
    }

.news-list li.normal .content span {
    padding-left: 15px;
}

.news-list li.normal .content {
    width: 75.56%;
}

.news-list li.normal .content b {
    display: block;
    margin-top: 28.182%;
}

.news-list li.normal .content .intro {
    display: block;
    overflow: hidden;
    word-break: break-all;
    height: 1.429em;
    color: #b5b5b5;
    top: 50%;
    position: absolute;
    left: 15px;
    margin-top: -10px;
}

.news-list li.normal .date {
    color: #b5b5b5;
    font-style: normal;
    position: absolute;
    left: 15px;
    bottom: 0;
}

.news-list li.normal.no-img .view {
    display: none;
}

.news-list li.normal.no-img .content span {
    padding-left: 0;
}

.news-list li.normal.no-img .content {
    width: 100%;
}

.news-list li.normal.no-img .intro {
    height: 2.858em;
    margin-top: -20px;
    left: 0;
}

.news-list li.normal.no-img .date {
    left: 0;
}

.news-list li.no-data {
    position: absolute;
    left: 50%;
    top: 50%;
    border-bottom: none;
    text-align: center;
    color: #b5b5b5;
    width: 160px;
    margin-top: -160px;
    margin-left: -80px;
    padding-top: 95px;
    background: url('/resource/images/1.png') no-repeat center top;
}

/*detail*/

.news-detail-title h2,
.news-detail-header .tools-area a.fa i,
.news-comments-header span,
.comments-list li .content {
    font-family: '黑体';
}

.news-detail,
.news-comments {
    background: #f8f8f8;
    padding-top: 3.07em;
    min-height: 100%;
}

.news-detail-header {
    position: fixed;
    height: 3.07em;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(255,255,255,.8);
    border-bottom: 1px solid #d5d5d5;
    -webkit-transition: all ease-in-out .25s;
    -moz-transition: all ease-in-out .25s;
    -ms-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
}

.news-detail-header .tools-area{
    font-size: 1.333em;
    line-height: 2.35em;
}

.news-detail-header .fa-angle-left {
    color: #555;
    font-size: 1.333em;
    line-height: 2.35em;
    padding-left: 15px;
}

.news-detail-header .tools-area a {
    color: #555;
    /*margin-left: 1.2em;*/
    padding: 12px;
}

.news-detail-header .tools-area a:active {
    background-color: #f0f0f0;
}

.news-detail-header .tools-area a.fa i {
    padding-left: 0.3em;
    font-style: normal;
    font-size: 0.889em;
}

.news-detail-title {
    margin: 0 5px 5px 5px;
    padding: 15px 10px 0 10px;
    border-bottom: 1px solid #eee;
}

.news-detail h2 {
    font-weight: normal;
    margin: 0;
    font-size: 1.429em;
    width: 100%;
    height: auto;
    padding-right: 1em;
    color: #000;
}

.news-detail-title p {
    margin: 0;
    color: #b5b5b5;
    padding: 0.5em 0;
}

.news-detail-content {
    padding: 15px;
}

.news-detail-content .content-image {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 20px;
    z-index: 5;
}

.news-detail-content .content-image img {
    width: 100%;
    height: auto;
}

.news-detail-content .content {
    overflow-x: hidden;
}

.news-detail-content .content * {
    background: none !important;
}

.news-detail-content .content img {
    max-width: 100% !important;
    height: auto !important;
    text-align: center !important;
}

.news-detail-content .content {
    font-size: 1.143em;
    line-height: 1.6em;
}

/*comments*/

.news-comments {
    padding-bottom: 65px;
}

.news-comments-header {
    position: fixed;
    height: 3.07em;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255,.8);
    border-bottom: 1px solid #d5d5d5;
    -webkit-transition: all ease-in-out .25s;
    -moz-transition: all ease-in-out .25s;
    -ms-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
    z-index: 1;
}

.news-comments-header .fa-angle-left {
    color: #555;
    font-size: 1.333em;
    line-height: 2.35em;
    position: absolute;
    left: 5px;
    padding: 0 5px;
    top: 0;
}

.news-comments-header span {
    display: inline-block;
    font-size: 1.286em;
    padding: 9px 0;
    color: #000;
}

.comments-list {
    padding: 0 5px;
    min-height: 420px;
}

.comments-list li {
    list-style: none;
    display: block;
    padding: 15px 10px;
    border-bottom: 1px solid #EEE;
    position: relative;
    min-height: 80px;
}

.comments-list li .view,
.comments-list li .content {
    display: block;
}

.comments-list li.no-data {
    position: absolute;
    left: 50%;
    /*top: 50%;*/
    border-bottom: none;
    text-align: center;
    color: #B5B5B5;
    width: 160px;
    margin-top: 120px;
    margin-left: -80px;
    padding-top: 95px;
    background: url('/resource/images/2.png') no-repeat center top;
}

.comments-list li .view {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-clip: padding-box;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    overflow: hidden;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.comments-list li .content {
    width: 100%;
    padding-left: 60px;
    height: auto;
}

.comments-list li .content .name {
    margin: 0 0 5px 0;
    position: relative;
    font-weight: normal;
    color: #000;
    font-size: 1.143em;
}

.comments-list li .content .date {
    position: absolute;
    right: 0;
    color: #b5b5b5;
    font-style: normal;
}

.comments-list li .content .comments {
    margin: 0;
    font-size: 1.286em;
    word-break: break-all;
}

.comments-list li:nth-child(4n) .view {
    background-image: url('/resource/images/user1.png');
}

.comments-list li:nth-child(4n+1) .view {
    background-image: url('/resource/images/user2.png');
}

.comments-list li:nth-child(4n+2) .view {
    background-image: url('/resource/images/user3.png');
}

.comments-list li:nth-child(4n+3) .view {
    background-image: url('/resource/images/user4.png');
}

.add-comments-container {
    width: 100%;
    position: fixed;
    border-top: 1px solid #ccc;
    background: rgba(255,255,255,.8);
    bottom: 0;
    left: 0;
    z-index: 5;
    padding: 10px;
}

.add-comments-container .comments-trigger {
    height: 34px;
    width: 100%;
    padding: 6px 12px;
    line-height: 1.429em;
    color: #555;
    background: #fff;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.comments-input {
    display: none;
    opacity: 0;
    position: fixed;
    width: 100%;
    background: #eee;
    bottom: -100%;
    left: 0;
    z-index: 6;
    padding: 10px 20px;
    -webkit-transition: all ease-in-out .25s;
    -moz-transition: all ease-in-out .25s;
    -ms-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
}

.page.active .comments-input {
    display: block;
    bottom: 0;
    opacity: 1;
}

.comments-input h2 {
    position: relative;
    text-align: center;
    font-size: 1.6em;
    margin: 0 0 10px 0;
}

.comments-input i {
    position: absolute;
    top: 0;
    color: #b9b9b9;
    z-index: 8;
}

.comments-input i.glyphicon-remove-sign {
    left: 0;
}

.comments-input i.glyphicon-ok-sign {
    right: 0;
}

.comments-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.5);
    display: none;
    z-index: 3;
}

.page.active .comments-mask {
    display: block;
}

.page.active .news-comments-header,
.page.active .comments-list-container {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.fa-thumbs-o-up.active:before {
    content: "\f164";
}
.fa-thumbs-o-up.active {
    color: #004e98 !important;
}

.news-search {
    padding: 5px 15px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.load-more {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    text-align: center;
    line-height: 40px;
    text-decoration: underline;
    color: #337ab7;
    cursor: pointer;
    margin: 0 10px 10px 10px;
}

.load-more:active {
    background-color: #eee;
}