@base-color: #f24848;
@star-color: orange;
@imgpath:"/resource/images";
.flex() {
    display: -webkit-flex;
    display: flex;
}

.wthc(@c: rgba(0, 0, 0, .1)) {
    -webkit-tap-highlight-color: @c;
}

.br(@r: 3px) {
    -webkit-border-radius: @r;
    border-radius: @r;
}

.bs(@x: 0, @y: 0, @l: 1px, @c: #fff) {
    -webkit-box-shadow: @x @y @l @c;
    box-shadow: @x @y @l @c;
}

.bf(@r: 1) {
    -webkit-flex: @r;
    flex: @r;
}

.trf-tsl(@x: 0, @y: -50%) {
    -webkit-transform: translate(@x, @y);
    transform: translate(@x, @y);
}

.trf-scl(@r: .5) {
    -webkit-transform: scale(@r);
    transform: scale(@r);
}

.trs(@cat: all, @time: .5s, @tf: linear) {
    -webkit-transition: @arguments;
    transition: @arguments;
}

.thc(@c: rgba(0, 0, 0, 0.1)) {
    -webkit-tap-highlight-color: @c;
}

.am(@an: an, @time: 1s, @tf: linear) {
    -webkit-animation: @an @time @tf;
    animation: @an @time @tf;
}

.wost() {
    -webkit-overflow-scroll: touch;
}

.bgNoRepeat () {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.bgAdaptive () {
    .bgNoRepeat();
    background-size: cover;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

a:link,
a:hover,
a:visited {
    color: #333;
    text-decoration: none;
}

.btn {
    box-shadow: none!important;
    outline: none!important;
}

.btn.active:hover,
.btn.active:focus,
.btn.active:active {
    color: #fff;
    outline: none!important;
}

ul,
ol {
    list-style: none;
}

h3 {
    color: #999;
    font-size: .75rem;
    border-bottom: 1px solid #ddd;
    padding: .5rem .75rem;
}

i {
    font-style: normal;
}

.mr5 {
    margin-right: 5px;
}

.font-small {
    font-size: .75rem;
}

.font-big {
    font-size: 1.25rem;
}

hr {
    margin: 10px 0;
    border: 0;
    height: 1px;
    background: #ddd;
}

.w100p {
    width: 100%;
}

label {
    font-weight: 400;
    margin: 0;
}

em {
    font-style: normal;
}

.pei,
.cai {
    background: #52b95e;
}

.fu,
.ding,
.wai {
    background: #4cabee;
}

.piao,
.yu {
    background: #be66d7;
}

.xin {
    background: #a90;
}

.jian {
    background: #ffc600;
}

.hui {
    background: #ff8533;
}

.ka,
.shou {
    background: #ee4d4d;
}

.gai {
    background: #4cabee!important;
    color: #fff!important;
    padding: 0 1px;
}

.tang {
    background: #505CD0;
}

.pei,
.fu,
.piao,
.jian,
.shou,
.ka,
.hui,
.cai,
.ding,
.yu,
.tang,
.wai {
    color: #fff;
}

.color-light {
    color: #aaa!important;
    font-weight: 400;
}

.btn-warning {
    background: #FFAC40!important;
    border-color: #FFAC40!important;
}
.res-btn-able {
    background: @base-color;
    color: #fff;
    border-color:@base-color;
}
.res-btn-disabled {
    background: #aaa!important;
    color: #fff!important;
    border-color: #aaa!important;
    pointer-events: none;
    &:active{
        background: #aaa!important;
    }
}
html {
    font-size: 100%;
}

body {
    background: #eee;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    word-break: break-all;
}
/*²ÍÌüÏêÇé*/


.home-style2{
    background: #fff;
    height: 100%;
    >header{
        background: #eee;
        padding-bottom: .5rem;
        dl{
            background: #fff;
            border-bottom: 1px solid #ddd;
            padding: 1.25rem .75rem;
            overflow: hidden;
            dt{
                float: left;
                img{
                    width: 70px;
                    height: 60px;
                    padding-right: 10px;
                }
            }
            dd{
                overflow: hidden;
            }
        }
        h2{
            font-size: 1.25rem;
            margin-bottom: 10px;
        }
        section{
            a{
                i{
                    color: #bbb;
                    font-size: 1.25rem;
                    margin-right: 10px;
                    vertical-align: -2px;
                }
            }
        }
    }
    .home-link{
        border-top: 1px solid #ddd;
        overflow: hidden;
        li{
            float: left;
            width: 33.33333%;
        }
        a{
            display: block;
            padding: 10px;
            padding-top: 70px;
            border: 1px solid #ddd;
            border-width: 0 0 1px 1px;
            margin-left: -1px;
            background-position: 50% 15px;
            background-repeat: no-repeat;
            &:active{
                background-color: #eee;
            }
        }
        .hs2-tangshi{
            background-image: url("@{imgpath}/restaurant2.png");
        }
        .hs2-waimai{
            background-image: url("@{imgpath}/bike2.png");
        }
        .hs2-yuyue{
            background-image: url("@{imgpath}/appointment2.png");
        }
        .hs2-paidui{
            background-image: url("@{imgpath}/queuing2.png");
        }
        .hs2-saoma{
            background-image: url("@{imgpath}/qrcodeScanning2.png");
        }
        .hs2-huiyuan{
            background-image: url("@{imgpath}/usercenter2.png");
        }
    }
}

.main {
    background: #eee;
    padding: 3rem 0;
    article {
        background: #fff;
        margin-bottom: 8px;
        dl, h2 {
            border-bottom: 1px solid #ddd;
            padding: .75rem;
            overflow: hidden;
            position: relative;
            margin: 0;
        }
        h2 {
            font-size: .75rem;
            padding: .5rem .75rem;
            color: #888;
        }
        dt {
            float: left;
        }
        dt i {
            border-radius: 2px;
            color: #fff;
            padding: 2px;
            margin-right: .75rem;
            font-style: normal;
        }
        dd {
            font-weight: 700;
            word-break: break-all;
            i {
                font-size: 1.5rem;
                color: #ddd;
                float: right;
                padding-left: .5em;
            }
        }
    }
    .res-info {
        i {
            background: transparent;
            color: #ddd;
            font-size: 1.5rem;
        }
        dt {
            position: absolute;
            height: 100%;
            line-height: 100%;
            top: 50%;
            margin-top: -1rem;
            .trf-tsl(-3px, -1px);
        }
        dd {
            margin-left: 1.75rem;
        }
        a {
            color: #333;
        }
    }
}

.vip {
    div {
        margin-bottom: 8px;
        background: #fff;
        li {
            padding: .75rem;
            line-height: 2;
            .thc();
            span {
                margin-left: .75rem;
            }
        }
    }
    li {
        border-bottom: 1px solid #ddd;
    }
}

.vip-center {
    background: #fff;
    a {
        display: block;
        padding: 1rem .75rem;
        .thc();
        i {
            float: left;
            margin: 0 .75rem;
            margin-left: 0;
            padding: 0 3px;
            border-radius: 2px;
        }
        .fa-angle-right {
            float: right;
            font-size: 1.25rem;
            color: #bbb;
            margin-right: 0;
        }
    }
}

.my-menu {
    li {
        div {
            position: absolute;
            left: .75rem;
            right: .75rem;
            top: .75rem;
            padding-left: 6em;
            input {
                width: 100%;
                margin-top: -2px;
            }
            input[type=radio] {
                width: auto;
            }
        }
    }
    .btn-warning {
        position: absolute;
        right: .75rem;
        margin-top: -2px;
    }
}

.food-list table td,
.menu-detail table td {
    text-align: left;
    padding: .75rem 0 .75rem .75rem;
    &:first-child {
        white-space: nowrap;
        max-width: 8em;
        overflow-y: hidden;
    }
    &:nth-child(2) {
        text-align: center;
    }
    &:nth-child(3) {
        text-align: right;
        padding-right: .75rem;
    }
}

.food-list {
    li {
        p {
            position: relative;
            padding-right: 90px;
            line-height: 1.75;
            span {
                display: block;
                font-size: x-small;
            }
        }
        em {
            position: absolute;
            right: 0;
            top: 50%;
            margin-right: 0;
            .trf-tsl(0, -50%);
        }
        >em {
            right: .75rem;
        }
    }
    section {
        .btn[type=button] {
            width: 47%;
            margin: 0 1%;
            padding: 6px 0;
        }
    }
    .btn[type=button] {
        min-width: inherit;
    }
}

.menu-detail {
    >div, >footer {
        background: #fff;
        line-height: 2;
        padding: .5rem .75rem;
        border-bottom: 1px solid #ddd;
    }
    footer {
        text-align: center;
        margin-bottom: -1px;
        button {
            width: 6rem;
            position: static;
            -webkit-transform: none;
            transform: none;
            padding: 6px 0;
            margin-right: 8px;
            border: 1px solid #aaa;
            background: #fff;
            color: #888;
        }
        .active {
            background: @base-color;
            color: #fff;
            border-color: @base-color;
        }
    }
}

.res-sale {
    .vip {
        dd {
            a {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                .wthc(rgba(0, 0, 0, .08));
                i {
                    position: absolute;
                    right: .75rem;
                    top: 50%;
                    .trf-tsl(0, -50%);
                }
            }
        }
    }
}

.main.food {
    .flex();
    background: #fff;
    min-height: 100%;
}

.f-cat {
    position: fixed;
    top: 3rem;
    bottom: 3rem;
    width: 30%;
    background: #eee;
    border-right: 1px solid #ccc;
    z-index: 23;
    ul {
        overflow-y: auto;
        margin-right: -1px;
        height: 100%;
        .wost();
    }
    li {
        line-height: 2;
        white-space: nowrap;
        font-size: 1rem;
        border-bottom: 1px solid #ccc;
        width: 100%;
        padding-right: 3px;
        a {
            display: block;
            padding: 10px;
            overflow-y: hidden;
            color: #777;
            .trs(all, .1s, ease-in);
        }
    }
    li.cur {
        background: #fff;
        border-left: 3px solid @base-color;
        margin-right: -1px;
        a {
            color: #333;
        }
    }
}

.f-list {
    background: #fff;
    padding: 5px;
    margin-left: 30%;
    position: relative;
    z-index: 25;
    .bf();
    li {
        border-bottom: 1px solid #ddd;
        padding: 5px;
        position: relative;
        overflow: hidden;
        a {
            display: block;
            .thc();
            img {
                width: 4rem;
                height: 4rem;
                float: left;
                margin-right: 5px;
                margin-bottom: 5px;
            }
        }
        h2 {
            font-size: 1rem;
            margin-top: 5px;
            white-space: nowrap;
            overflow-y: hidden;
        }
        p {
            margin-top: 5px;
        }
        .food-price{
            padding-bottom: 0;
        }
        .food-cur-price em {
            font-size: inherit;
            i {
                font-size: inherit;
            }
        }
        .plus a {
            position: absolute;
            top: 50%;
            right: 15px;
            border-radius: 100%;
            color: #ddd;
            border: 2px solid;
            .trf-tsl();
            padding: 2px 8px;
            .wthc();
            &:active {
                color: #f88;
            }
        }
    }
    .tips {
        display: none;
        div {
            padding: 0 30px;
            color: #555;
            margin-top: 180px;
            text-align: center;
        }
    }
}
/*²ËÆ·ÏêÇé*/

.common-title,
.f-footer {
    padding: 0 .75rem;
    max-width: 640px;
}

.common-title {
    position: fixed;
    top: 0;
    background: #fff;
    color: #333;
    font-weight: 700;
    padding: .5rem;
    z-index: 38;
    height: 3rem;
    line-height: 2rem;
    width: 100%;
    border-bottom: 2px solid @base-color;
    a {
        .thc(rgba(0, 0, 0, .1));
    }
    .erweima {
        float: right;
        width: 35px;
        height: 35px;
        background: url(/resource/images/erweima.jpg) no-repeat 50%;
        -webkit-background-size: 25px;
        background-size: 25px;
        text-indent: -2222px;
        position: relative;
        z-index: 222;
    }
    .fapiao {
        text-indent: 0;
        width: auto;
        background-position: 1.5em 0;
        padding-top: 15px;
    }
    h1,
    h2,
    section {
        font-size: 1.25rem;
        white-space: nowrap;
        overflow-y: hidden;
    }
    h1 {
        padding-top: 6px;
    }
    i.fa-angle-right {
        float: none;
        display: inline;
        padding-left: 5px;
        color: #aaa;
        position: relative;
        z-index: 4;
        background: #fff;
        padding-right: 30px;
        margin-right: -30px;
        padding-top: 3px;
    }
    h2 {
        text-align: center;
        position: absolute;
        top: 50%;
        .trf-tsl(0, -50%);
        width: 100%;
        margin-left: -.5rem;
        padding: 5px 3rem 0;
    }
    label {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1;
        margin: 0;
        overflow: hidden;
        border: 1px solid @base-color;
        .br(8px);
        margin-top: 2px;
        position: absolute;
        left: 50%;
        .trf-tsl(-50%, 0);
        white-space: nowrap;
        span {
            cursor: pointer;
            display: inline-block;
            padding: 5px 15px;
            &:active {
                background: #f0f0f0;
            }
        }
        .cur {
            background: @base-color;
            color: #fff;
            &:active {
                background: @base-color;
            }
        }
    }
    a i {
        float: left;
        font-size: 1.5rem;
        color: #aaa;
        margin-top: -.25rem;
        padding: .5rem;
        position: relative;
        z-index: 3;
        &.fa-angle-left {
            padding-right: 2rem;
            margin-top: -5px;
        }
        &.online {
            color: #5b5;
        }
    }
    .society {
        float: right;
    }
}

.res-list {
    margin-bottom: 0!important;
    li {
        line-height: 1.25;
    }
    header {
        span {
            float: right;
        }
    }
    a {
        display: block;
        position: relative;
        padding: .5rem .75rem;
        padding-right: 2rem;
        border-bottom: 1px solid #ddd;
        line-height: 1.75;
        .wthc();
        &:last-child {
            border: 0;
        }
        p {
            .flex();
            span {
                .bf();
                text-align: right;
                &:first-child {
                    text-align: left;
                }
            }
        }
        i.fa-angle-right {
            position: absolute;
            top: 50%;
            right: .75rem;
            .trf-tsl(0, -50%);
            font-size: 1.25rem;
        }
    }
}

.two-dimension {
    padding: 8rem 0;
    background: #fff;
    height: 100%;
    text-align: center;
    div {
        position: relative;
        padding-bottom: 1rem;
        width: 200px;
        margin: auto;
        overflow: hidden;
        &:before, &:after {
            content: "";
            position: absolute;
            bottom: 1rem;
            left: 0;
            right: 0;
            background: #eee;
            height: 100px;
            -webkit-transform: rotate(-4deg);
            -o-transform: rotate(-4deg);
            transform: rotate(-4deg);
        }
        &:after {
            -webkit-transform: rotate(4deg);
            -o-transform: rotate(4deg);
            transform: rotate(4deg);
        }
    }
    img {
        background: #fff;
        position: relative;
        width: 200px;
        height: 200px;
        padding: .75rem;
        border: 1px solid #aaa;
        z-index: 250;
    }
    p {
        margin-top: 1rem;
    }
}

a.f-name {
    float: left;
    overflow-y: hidden;
    margin-right: -1rem;
    padding-right: 1rem;
    max-width: 100%;
    position: relative;
    z-index: 3;
    img {
        width: 2rem;
        height: 2.5rem;
        margin: -.5rem 5px;
        border-radius: 2px;
    }
}

.food {
    background: #fff;
    padding-top: 3rem;
}

.food-info {
    section {
        padding: .75rem;
        border-bottom: 1px solid #ddd;
    }
    .food-price {
        padding-top: .5rem;
        padding-bottom: .5rem;
        .s-count {
            display: block;
        }
    }
}

.food-detail {
    position: relative;
}

.food-img {
    height: 200px;
    width: 100%;
    overflow: hidden;
    ul {
        width: 400%;
        height: 100%;
        li {
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            width: 25%;
            height: 100%;
            float: left;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.shop-base {
    position: absolute;
    bottom: .75rem;
    left: .75rem;
    right: .75rem;
    z-index: 25;
    h3 {
        background: rgba(0, 0, 0, .5);
        color: #fff;
        font-size: 1.25rem;
        border: 0;
        padding: .5rem;
    }
}

.food-price {
    padding: 5px;
    color: #bbb;
    position: relative;
}

.food-cur-price {
    color: @base-color;
    em {
        font-size: 1.5rem;
        font-style: normal;
    }
}

.add-cart,
.add-menu {
    background: @base-color;
    color: #fff!important;
    border: 0;
    position: absolute;
    top: 50%;
    right: .75rem;
    .trf-tsl(0, -50%);
}

.add-menu {
    padding: 6px 20px;
}

.v-star {
    position: relative;
    color: #ddd;
    display: inline-block;
    width: 6em;
    height: 1.1em;
    .v-b-star {
        position: absolute;
    }
    .v-f-star {
        position: absolute;
        color: @star-color;
        i:hover {
            color: @star-color;
        }
    }
}

.comment {
    background: #fff;
    padding-bottom: 3.1rem;
    dl {
        margin: 0;
    }
    .uid {
        font-weight: 400;
    }
    .c-time {
        color: #777;
        font-weight: 400;
        margin-left: .5rem;
    }
    .c-list {
        padding: .5rem .75rem;
        border-bottom: 1px solid #ddd;
    }
    &:before {
        content: "\83DC\54C1\8BC4\8BBA\FF1A";
        display: block;
        padding: .75rem;
        padding-bottom: 0;
    }
}

.c-content {
    .word {
        max-height: 10em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .c-img {
        max-height: 60px;
        overflow: hidden;
        img {
            max-width: 20%;
            height: auto;
            max-height: 100%;
            padding: 0 5px 0 0;
        }
    }
}

.see-all {
    text-align: right;
    a {
        color: #666;
        display: block;
    }
}
/*»áÔ±¿¨Ïà¹Ø¡¢¶©µ¥*/

.pay {
    padding-top: 3rem;
    .card-name {
        padding: .75rem;
    }
    .uc-pay-detail li {
        text-align: right;
        label {
            font-weight: 400;
            float: left;
            margin: 0;
        }
        >span {
            float: none;
        }
    }
    >div {
        background: #fff;
        border-bottom: 1px solid #ddd;
        margin-bottom: 8px;
    }
    li {
        padding: .75rem;
        border-bottom: 1px solid #ddd;
        margin-bottom: -1px;
        line-height: 2;
        position: relative;
        .thc(rgba(0, 0, 0, .1));
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        ul li {
            border: 0;
            padding: 0 0 .5rem;
        }
        >span {
            float: right;
            >i {
                margin-right: 5px;
            }
        }
        >i {
            float: right;
            color: transparent;
            border-radius: 100%;
            padding: 3px;
            border: 2px solid #ddd;
        }
        >img {
            width: 35px;
            margin-right: 10px;
        }
        input[type=text],
        input[type=tel] {
            border: 0;
            padding: 2px;
        }
        a {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        i.fa-angle-right {
            float: right;
            color: #ddd;
            font-size: 1.5rem;
            padding-left: .5em;
            margin-top: 1px;
        }
    }
    .order-list {
        tr {
            .thc(rgba(0, 0, 0, .1));
            line-height: 2;
            &:active {
                background: rgba(0, 0, 0, .1);
            }
        }
        th {
            padding: 0 0 0 .75rem;
            max-width: 7em;
            white-space: nowrap;
            overflow-y: hidden;
        }
        td {
            padding: .75rem .125rem;
            text-align: center;
            i {
                padding-right: .75rem;
                &.fa-rmb {
                    padding-right: 2px;
                }
                &.fa-angle-right {
                    font-size: 1.25rem;
                    vertical-align: -2px;
                }
            }
        }
    }
    .order-prev>div a {
        display: block;
        line-height: 3;
        text-align: center;
        .thc();
    }
    .order-info {
        ::-webkit-input-placeholder {
            text-align: right;
        }
        li:last-child {
            span {
                width: 100%;
                margin-left: -5em;
                margin-top: -3px;
                input {
                    width: 100%;
                    padding-left: 5em;
                    text-align: right;
                    color: #555;
                    &:focus {
                        text-align: left;
                    }
                }
            }
        }
        dt {
            font-weight: 400;
            padding: .75rem .375rem;
            margin: 0 .375rem;
            margin-bottom: -1px;
            border-bottom: 1px solid #ddd;
            p {
                margin-top: 2px;
                .flex();
                span {
                    .bf();
                }
            }
        }
    }
    .order-detail {
        em {
            padding: 0;
            font-size: xx-small;
            margin: 0;
            margin-left: 3px;
        }
    }
    .customer-info {
        li {
            input {
                width: 100%;
                padding-left: 25px;
            }
        }
        em {
            color: #999;
            font-weight: 400;
            position: absolute;
            margin-top: 8px;
        }
    }
    .tips {
        margin-left: 10px;
        float: none;
        color: #999;
    }
    .pay-type {
        i {
            position: absolute;
            right: .75rem;
            top: 50%;
            .trf-tsl(0, -50%);
        }
    }
    .order-price-totle {
        position: relative;
        top: -.6rem;
        width: 50%;
        text-align: right;
        .discount {
            position: absolute;
            top: 1.5rem;
            right: 0;
            color: #888;
            font-size: .875rem;
        }
    }
    .money-should-pay {
        span {
            color: @base-color;
            width: auto!important;
        }
    }
    .pay-check {
        i {
            border-color: @base-color;
            background: #feecec;
            color: @base-color;
        }
    }
    em {
        padding: 1px 2px;
        border-radius: 2px;
        margin-right: .75rem;
        font-style: normal;
    }
    .card>div,
    .card-info>div {
        padding: 1rem;
        text-align: center;
    }
    input[type=button] {
        background: @base-color;
        color: #fff;
        min-width: 70%;
    }
    .bought-ok,
    .bought-fail {
        padding: 50px 0;
        margin: 0 auto;
        display: inline-block;
        white-space: nowrap;
        img {
            float: left;
            margin: -15px 5px 0 0;
        }
    }
}

.pay-type.food-list li:active {
    background: rgba(0, 0, 0, .1);
}

.isMaking,
.pay-status>div {
    line-height: 5;
    text-align: center;
}

.pay-status {
    span {
        margin: 0 .5rem;
    }
    div a {
        display: inline-block;
        padding: 6px 10px;
        border: 1px solid #aaa;
        color: #888;
        margin-right: .5rem;
        &.active {
            background: @base-color;
            color: #fff;
            border-color: transparent;
            box-shadow: none;
        }
        &.btn:visited,
        &.btn:focus,
        &:active {
            color: #888;
        }
        &.btn.active {
            color: #fff!important;
        }
    }
}

.vip li dl {
    dt, dd {
        font-weight: 400;
        display: inline;
    }
}

.uc-food-list {
    tr {
        td:nth-of-type(1) {
            min-width: 6em;
            +td {
                min-width: 3em;
            }
        }
        td:last-child {
            padding-right: .75rem;
        }
    }
    th,
    td {
        padding: .5rem .5rem .5rem 0;
        line-height: 2;
        i {
            margin-right: 3px;
        }
    }
    th {
        padding-left: .75rem;
        width: 9em;
        overflow-y: hidden;
    }
    input[type=button] {
        min-width: inherit;
    }
}
/*ÕÚÕÖ*/

.overlay,
.uc-c-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 45%;
    background: rgba(0, 0, 0, .5);
}

.uc-c-content {
    top: 45%;
    background: #fff;
    h3 {
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: center;
        color: #000;
        overflow: hidden;
        padding-top: .5rem;
        padding-bottom: .5rem;
        a {
            color: #c5c5c5;
            float: left;
            font-size: 2.5rem;
            padding: .8rem 2rem;
            margin: -.8rem -2rem;
        }
        .c-ok {
            float: right;
            margin-right: -1.2rem;
        }
    }
}

.uc-c-detail {
    background: #fff;
    padding: .75rem;
    .v-f-star {
        color: #ddd;
        i.on {
            color: @star-color;
        }
    }
    p {
        margin: .75rem 0;
    }
    textarea {
        width: 100%;
        border: 1px solid #ddd;
        .br(2px);
    }
    .show-picture {
        overflow: hidden;
        .upimg {
            float: left;
            padding: 5px 10px;
            position: relative;
            color: #ccc;
            border: 1px dashed;
            input {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                z-index: 3;
                width: 100%;
                height: 100%;
            }
            .fa-plus {
                font-size: 45px;
            }
        }
        img {
            float: left;
            max-width: 20%;
            padding-right: 5px;
            max-height: 57px;
        }
    }
}
/*¹ºÎï³µ*/

.cancel-wrapper .uc-c-content {
    min-height: 80%;
    h3 a {
        float: right;
    }
}

input:focus,
textarea:focus {
    outline: none;
}

table {
    width: 100%;
    background: #fff;
    tr {
        border-bottom: 1px solid #ddd;
        position: relative;
    }
    th {
        text-align: left;
        padding: .75rem;
        font-weight: 400;
    }
    td {
        text-align: right;
        padding: .75rem;
    }
}

.deal {
    padding-top: 3rem;
    margin-bottom: 3.1rem;
    background: #fff;
    table {
        td, th {
            padding: .75rem;
            line-height: 1.5;
            vertical-align: middle;
        }
        tr {
            th {
                max-width: 150px;
                overflow-y: hidden;
                white-space: nowrap;
                padding-right: 0;
                +td {
                    min-width: 5em;
                    white-space: nowrap;
                    overflow-y: hidden;
                }
            }
            td:last-child {
                min-width: 90px;
                white-space: nowrap;
                overflow-y: hidden;
                padding-left: 0;
            }
        }
    }
    i {
        margin-right: 5px;
        &.fa-minus {
            background: @base-color;
            color: #fff;
            padding: 1px 3px;
            border-radius: 100%;
        }
    }
    .cart-empty {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #999;
        text-shadow: 0 1px #fff;
        font-size: 110%;
        .trf-tsl(0, -50%);
        i {
            font-size: 200%;
        }
    }
}

i.minus,
i.plus {
    padding: 2px 8px;
    color: #aaa;
    border: 1px solid;
    border-radius: 3px;
    font-size: 1rem;
    .wthc();
    &:active {
        color: orange;
    }
}

i.minus {
    margin-right: 0;
}

.num {
    padding-top: 3rem;
    .num-top-bg, .num-bottom-bg {
        height: 7px;
        background: url(/resource/images/arr_top.gif) repeat-x;
    }
    .num-bottom-bg {
        -webkit-transform: rotateZ(180deg);
        -o-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
    }
    .num-info {
        background: #fff;
        padding: 2rem 0;
        text-align: center;
        h2{
            text-transform: capitalize;
        }
        p {
            margin: 1.5rem 0 .5rem;
        }
        section {
            color: #F37200;
        }
    }
    .num-tips {
        padding: .75rem .75rem 0;
        dt {
            float: left;
        }
        dd {
            overflow: hidden;
        }
    }
  a.btn,
  a.btn:active,
  a.btn:visited,
  a.btn:focus {
    color: #fff;
  }
}

.post-price {
    color: orange;
    >td:nth-child(3)>i {
        visibility: hidden;
        padding: 2px 8px;
    }
}

.go-pay {
    float: right;
    padding: 6px 30px;
    border: 0;
    color: #fff;
    box-shadow: none;
}

.go-pay.active {
    background: @base-color;
    box-shadow: none;
}

.d-footer {
    position: fixed;
    z-index: 33;
    padding: .5rem;
    bottom: 0;
    width: 100%;
    color: #666;
    border-top: 1px solid #ddd;
    >div {
        line-height: 2;
    }
    .deal-count {
        color: orange;
        margin-left: .5rem;
    }
}
/*content is null*/

.content-null-info {
    width: 100%;
    background: url(/resource/images/book2.png) no-repeat 50% 0;
    -webkit-background-size: 50px;
    background-size: 50px;
    color: #9c9c9c;
    text-align: center;
    text-shadow: 0 1px #fff;
    line-height: 2;
    font-size: 1rem;
    padding-top: 55px;
    position: fixed;
    top: 50%;
    .trf-tsl(0, -50%);
}
/*footer*/

.f-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 3rem;
    line-height: 2rem;
    padding: .5rem .75rem;
    background: #fff;
    border-top: 1px solid #ddd;
    z-index: 38;
    >a, .btn-shopcart {
        padding: 20px 20px 10px 0;
    }
    .cart {
        font-size: 1.5rem;
        background: #ddd;
        border-radius: 100%;
        color: #999;
        padding: 5px 6px;
        position: relative;
        sup {
            position: absolute;
            top: 0;
            right: -3px;
            background: @base-color;
            color: #fff;
            padding: 2px 3px;
            line-height: 1;
            font-size: xx-small;
            border-radius: 100%;
        }
    }
    .totle {
        margin: 3px;
    }
    .menu {
        margin-top: 5px;
        margin-left: 5px;
        i.fa {
            font-size: 1.25rem;
            color: #bbb;
        }
        em {
            position: relative;
            top: -.875em;
            left: -.5rem;
            border: 3px solid #fff;
            background: @base-color;
            color: #fff;
            border-radius: 100%;
            padding: 1px 3px;
            display: inline-block;
            line-height: 1;
            font-size: 1em;
        }
    }
    a[rel="next"] {
        position: absolute;
        top: -1px;
        right: 0;
        bottom: 0;
        padding: 1px;
        width: 8em;
        text-align: center;
        line-height: 3rem;
        background: @base-color;
        color: #fff;
    }
    a {
        .wthc();
        .fa-angle-left {
            float: left;
            font-size: 1.5rem;
            color: #AAA;
            padding: .5rem;
            padding-right: 2rem;
            margin-top: -5px;
            position: relative;
            z-index: 3;
        }
    }
}

.sc2 {
    .am(sc2, .5s)
}

@-webkit-keyframes sc2 {
    50% {
        .trf-scl(2)
    }
}

#ani_wrapper {
    position: fixed;
    left: 1rem;
    bottom: .5rem;
    z-index: 123;
    font-size: 2em;
    color: orange;
    .trf-scl(1);
    display: none;
    .fa-food:before {
        content: "\f0f5"
    }
}

#ani_wrapper.fly {
    display: block;
    -webkit-animation: flying .5s;
}

@-webkit-keyframes flying {
    0% {
        .trf-scl(1);
        opacity: 1;
    }
    /*20%{left:40%;top:28%;-webkit-transform:scale(.8);opacity:.8;}*/
    
    100% {
        left: .75rem;
        bottom: .75rem;
        opacity: .1;
        .trf-scl(.1);
    }
}

.c-price,
.warning {
    color: @base-color;
}

.low-price {
    background: #999;
    color: #fff!important;
    border: 0;
    float: right;
}

.low-price.active {
    background: @base-color;
}

.load-more {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
    line-height: 40px;
    text-decoration: underline;
    color: #337ab7;
    cursor: pointer;
}

.img-list {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    width: auto;
}

.img-list li {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.img-list li > div {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-list li > div .view {
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
}

.img-list li > div i {
    position: absolute;
    right: -6px;
    top: -6px;
    color: #D9534F;
    background: #fff;
    border-radius: 50%;
    font-style: normal;
    cursor: pointer;
    font-size: 20px;
}

.img-list li img {
    width: 100%;
    border-radius: 4px;
}

.img-list li .progress {
    position: absolute;
    top: 50%;
    left: 10%;
    margin-top: -10px;
    width: 80%;
}

.img-list li .mask {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.img-list li:last-child {
    border: 1px dashed #ccc;
    position: relative;
}

.img-list li:last-child i {
    color: #ddd;
    font-size: 48px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -19px;
    margin-top: -20px;
}

.img-list li:last-child input {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}
/*[data-action="entrance"]*/

.restaurant-header {
    width: 100%;
    max-width: 640px;
    position: fixed;
    top: 0;
    height: auto;
    background-color: #fff;
    z-index: 5;
}

[data-module="restaurant"] {
    .mainContainer {
        background-color: #fff;
        padding-top: 56px;
        .restaurant-header {
            padding-right: 32px;
            height: 56px;
            border-bottom: 2px solid #f24848;
            .restaurant-info {
                display: inline-block;
                position: relative;
                padding-top: 10px;
                padding-left: 51px;
                padding-right: 24px;
                .icon {
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    display: inline-block;
                    width: 36px;
                    height: 0;
                    padding-bottom: 36px;
                    overflow: hidden;
                    border-radius: 4px;
                    .bgAdaptive();
                }
                > div {
                    width: 100%;
                    position: relative;
                    line-height: 0;
                    .name {
                        float: left;
                        display: inline-block;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        margin-right: 10px;
                        font-size: 1.4rem;
                        line-height: 36px;
                        width: 6em;
                    }
                    i {
                        float: left;
                        font-size: 1.8em;
                        line-height: 36px;
                        color: #ccc;
                    }
                }
            }
            .k {
                position: absolute;
                right: 0;
                top: 10px;
                > a {
                    display: inline-block;
                    padding: 0 10px;
                    line-height: 36px;
                    color: #aaa;
                    font-size: 1.4rem;
                }
                > a:active {
                    background-color: #eee;
                }
            }
        }
    }
    [data-action*="entrance"].mainContainer {
        .the-way-list {
            padding: 0;
            background-color: #fff;
            li {
                padding: 15px 10px;
                border-bottom: 1px solid #ccc;
                height: 100px;
                a {
                    display: block;
                    position: relative;
                    padding: 0 44px 0 80px;
                    z-index: 3;
                    > span {
                        width: 70px;
                        height: 70px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        border-radius: 4px;
                        .bgNoRepeat();
                        z-index: 4;
                    }
                    > span[data-section="restaurant"] {
                        background-image: url('/resource/images/restaurant.png');
                        background-color: #90cd30;
                    }
                    > span[data-section="takeout"] {
                        background-image: url('/resource/images/takeout.png');
                        background-color: #f8bb17;
                    }
                    > span[data-section="appointment"] {
                        background-image: url('/resource/images/appointment.png');
                        background-color: #f78224;
                    }
                    > span[data-section="qrcodeScanning"] {
                        background-image: url('/resource/images/qrcodeScanning.png');
                        background-color: #a562d0;
                    }
                    > span[data-section="queuing"] {
                        background-image: url('/resource/images/queuing.png');
                        background-color: #df513a;
                    }
                    > span[data-section="userCenter"] {
                      background-color: #50a8f3;
                      background-image: url('/resource/images/userCenter.png');
                    }
                    > div {
                        width: 100%;
                        > h5 {
                            font-size: 20px;
                            margin: 0 0 10px 0;
                        }
                        > em {
                            font-style: normal;
                            font-size: 14px;
                            color: #999;
                        }
                    }
                    i {
                        position: absolute;
                        font-size: 24px;
                        right: 10px;
                        top: 50%;
                        margin-top: -12px;
                        color: #999;
                    }
                }
            }
            li:active {
                background-color: #eee;
            }
        }
    }
    [data-action="restaurant"].mainContainer {
        position: relative;
        .restaurant-menu {
            position: absolute;
            left: 0;
            top: 56px;
            bottom: 49px;
            width: 100%;
            overflow: hidden;
            .dishes-cat-aside {
                width: 30%;
                padding: 0;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                overflow-y: auto;
                background-color: #eee;
                li {
                    line-height: 3.3rem;
                    padding-right: 1em;
                    display: block;
                    width: 100%;
                    border-bottom: 1px solid #d5d5d5;
                    position: relative;
                    right: -1px;
                    margin-left: -1px;
                    a {
                        display: block;
                        width: 100%;
                        text-indent: 1em;
                        overflow: hidden;
                        white-space: nowrap;
                        font-size: 1rem;
                    }
                }
                li.active {
                    background-color: #fff;
                    border-left: 3px solid #f24848;
                }
            }
            .dishes-cat-aside::-webkit-scrollbar {
                width: 0;
            }
            .dishes {
                position: absolute;
                width: 70%;
                top: 0;
                right: 0;
                overflow-y: auto;
                overflow-x: hidden;
                ul {
                    height: auto;
                    padding: 0 3px;
                    li {
                        display: block;
                        padding: 10px;
                        border-bottom: 1px solid #d5d5d5;
                        a {
                            display: block;
                            position: relative;
                            padding-left: 70px;
                            height: 60px;
                            span.view {
                                display: inline-block;
                                width: 60px;
                                height: 60px;
                                .bgAdaptive();
                                position: absolute;
                                left: 0;
                                top: 0;
                            }
                            span.info {
                                display: inline-block;
                                width: 100%;
                                overflow: hidden;
                                h5 {
                                    margin-top: 0;
                                    margin-bottom: 5px;
                                    font-size: 1.2em;
                                }
                                .star {
                                    //                  margin-bottom: 5px;
                                }
                                .price-box {
                                    font-size: 1.1em;
                                    span {
                                        display: inline-block;
                                    }
                                    span.price {
                                        color: #999;
                                        margin-right: 10px;
                                        em {
                                            color: #f24848;
                                            font-style: normal;
                                        }
                                    }
                                    span.sales {
                                        color: #bbb;
                                    }
                                }
                            }
                            span.add-btn {
                                position: absolute;
                                width: 25px;
                                height: 25px;
                                border: 1px solid #d5d5d5;
                                border-radius: 50%;
                                line-height: 18px;
                                text-align: center;
                                color: #d5d5d5;
                                font-size: 24px;
                                right: 10px;
                                top: 50%;
                                margin-top: -18px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .dishes::-webkit-scrollbar {
                width: 0;
            }
        }
        .my-dishes {
            position: fixed;
            width: 100%;
            max-width: 640px;
            bottom: 0;
            height: 50px;
            padding: 12px 0 12px 20px;
            border-top: 1px solid #d5d5d5;
            .menu {
                line-height: 25px;
                position: relative;
                i {
                    color: #c9c9c9;
                    font-size: 20px;
                }
                .num {
                    position: absolute;
                    left: 18px;
                    top: -7px;
                    background-color: #f24848;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: center;
                    color: #fff;
                    font-style: normal;
                }
                .price {
                    color: #f24848;
                    margin-left: 25px;
                    font-size: 1rem;
                }
            }
        }
    }
    .that-btn {
        position: absolute;
        display: block;
        right: 0;
        line-height: 49px;
        top: 0;
        width: 8em;
        text-align: center;
        color: #fff;
        background-color: #f24848;
    }
    .that-btn.disabled {
        pointer-events: none;
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #aaaaaa;
    }
    .that-btn,
    .that-btn:hover,
    .that-btn:active,
    .that-btn:focus {
        text-decoration: none;
    }
    [data-action="appointment"] + div.pay {
        .appointment-info.customer-info {
            em {
                color: #333;
                margin: 0;
                padding: 0;
            }
            span {
                float: none;
                margin-left: 80px;
            }
            span.selector {
                display: inline-block;
                border: 1px solid #ccc;
                padding: 0 12px;
                border-radius: 5px;
            }
            span.selector:after {
                font-family: 'FontAwesome';
                display: inline-block;
                content: '\f105';
                margin-left: 10px;
                color: #ccc;
            }
            span.selector:active {
                background-color: #eee;
            }
        }
        label.this-label {
            display: inline-block;
            width: 100%;
            font-weight: 400;
            color: #333;
            margin: 0;
            em {
                color: #333;
                margin: 0;
                padding: 0;
            }
            input {
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 80px;
            }
            input.v {
                width: 70%;
            }
        }
        label.this-label:after {
            display: block;
            content: '';
            clear: both;
            height: 0;
            line-height: 0;
            font-size: 0;
        }
        li {
            .v-btn {
                position: absolute;
                right: 10px;
                top: 50%;
                margin-top: -17px;
            }
        }
    }
    .select-mask {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: 40;
        > div.select-content {
            background-color: #fff;
            position: absolute;
            height: 70%;
            left: 0;
            bottom: -100%;
            width: 100%;
            .trs(all, 0.5s, cubic-bezier(0.5, 0.02, 0.36, 0.99));
            h5 {
                padding: 0.75rem;
                font-size: 1.125rem;
                border-bottom: 1px solid #d5d5d5;
                text-align: center;
                position: relative;
                margin: 0;
                a {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    margin-top: -15px;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    background-color: #aaa;
                    color: #fff;
                    border-radius: 50%;
                }
            }
            > div {
                position: absolute;
                left: 0;
                bottom: 0;
                top: 2.75rem;
                width: 100%;
            }
        }
        > div.select-content.active {
            bottom: 0;
        }
    }
    .select-content.timer {
        > div {
            > div {
                position: absolute;
                width: 50%;
                top: 0;
                height: 100%;
                z-index: 42;
            }
            > div::-webkit-scrollbar {
                width: 0;
            }
            > div.date {
                left: 0;
                border-right: 1px solid #d5d5d5;
                background-color: #f3f3f3;
                ul {
                    height: 100%;
                    margin-right: -1px;
                    overflow-y: auto;
                    overflow-x: hidden;
                }
                ul::-webkit-scrollbar {
                    width: 0;
                }
                li {
                    text-align: center;
                    font-size: 0.9rem;
                    position: relative;
                    border-bottom: 1px solid #d5d5d5;
                    a {
                        display: block;
                        height: 100%;
                        padding: 0.75em;
                        color: #000;
                        em {
                            margin-left: .75rem;
                            font-style: normal;
                            color: #999;
                        }
                    }
                }
                li.active {
                    background-color: #fff;
                    margin-right: -1px;
                }
            }
            > div.meal {
                right: 0;
                ul {
                    li {
                        padding: 0.75em;
                        text-align: center;
                        font-size: 0.9rem;
                        color: #000;
                        position: relative;
                        border-bottom: 1px solid #d5d5d5;
                    }
                    li.active:after {
                        display: block;
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        font-family: 'FontAwesome';
                        content: '\f00c';
                        color: #f24848;
                        font-size: 1rem;
                        margin-top: -0.7rem;
                    }
                }
            }
        }
    }
    .select-content.seats {
        ul {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: #fafafa;
            li {
                text-align: center;
                font-size: 0.9rem;
                position: relative;
                border-bottom: 1px solid #d5d5d5;
                a {
                    display: block;
                    height: 100%;
                    padding: 0.75em;
                    color: #000;
                }
            }
            li.active:after {
                display: block;
                position: absolute;
                right: 15px;
                top: 50%;
                font-family: 'FontAwesome';
                content: '\f00c';
                color: #f24848;
                font-size: 1rem;
                margin-top: -0.7rem;
            }
        }
    }
    .apm-detail {
        background-color: #fff;
        padding-top: 3rem;
        .apm-info {
            margin: 0 5px;
            border-bottom: 1px solid #d5d5d5;
            padding: 10px;
            font-size: 1.125rem;
            > p {
                line-height: 2rem;
            }
        }
        .others-info {
            padding: 0.5rem;
            line-height: 2rem;
            border-bottom: 1px solid #d5d5d5;
            font-size: 1.125rem;
        }
        .others-info.bg-f5 {
            background-color: #f5f5f5;
        }
    }
}

[data-action*="orderMaster"].mainContainer {
    position: relative;
    .order-operate-window {
        position: absolute;
        width: 80%;
        left: 10%;
        top: 20%;
        h4 {
            font-size: 1.125rem;
            text-align: center;
        }
        h5 {
            font-size: 1rem;
            text-align: center;
            margin-bottom: 25px;
        }
        input {
            margin-bottom: 25px;
        }
    }
}

.qrcode-scan {
  .title-img-block('/resource/images/desk-scan-info-bg.jpg', 47.9167%);
}

.title-img-block(@url, @per) {
  width: 100%;
  line-height: 0;
  height: 0;
  padding-bottom: @per;
  .bgAdaptive();
  background-image: url(@url);
  position: relative;
  &:after {
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    display: block;
    content: attr(data-info);
  }
}

.h48 {
  height: 48px;
  width: 100%;
}

.table-info {
  padding: 50px 20px;
  p {
    font-size: 1rem;
    line-height: 2rem;
  }
}

.btn-area {
  width: 90%;
  margin: 0 5%;
}

.btn-area > a.btn {
  width: 48%;
  float: left;
  margin-top: 0;
}

.btn-area > a.btn + a.btn {
  margin-left: 4%;
}

.get-number-title {
  .title-img-block('/resource/images/get-number.jpg', 37.08%);
}

.table-type-title {
  line-height: 2em;
  font-size: 1rem;
  color: #999;
  padding-left: 10px;
  border-bottom: 1px solid #d5d5d5;
  background-color: #fff;
}

.table-type {
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
  li {
    font-size: 1.05rem;
    line-height: 3em;
    border-bottom: 1px solid #d5d5d5;
    padding: 0 10px;
    label{
      display: block;
      width: 100%;
    }
    em {
      margin-left: 5px;
      font-style: normal;
    }
    span {
      color: #999;
      float: right;
    }
  }
}

.phone-v-code-title {
  &:extend(.table-type-title);
  border-top: 1px solid #d5d5d5;
}

.phone-v-code {
  width: 100%;
  background-color: #fff;
  li {
    width: 100%;
    font-size: 1.05rem;
    line-height: 3em;
    border-bottom: 1px solid #d5d5d5;
    padding: 0 10px;
    position: relative;
    label{
      display: block;
      width: 100%;
    }
    em {
      margin-right: 1em;
      font-style: normal;
    }
    input {
      border: 0;
      background: none;
    }
    a.btn {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -17px;
      color: #fff;
    }
  }
}

.muted {
  background: #fff;
  font-size: 0.75rem;
  padding: 10px;
}

.table-type-btn-area {
  background: #fff;
  padding: 20px 0;
  .btn {
    width: 50%;
    margin: 0 auto;
    color: #fff;
  }
}