<%list.forEach(function(item){%>
<div class="content-item ui card" title="<%-item['title']%>" data-cat="<%-item['cat']%>" data-cat-name="<%-item['cat_name']%>">
    <div class="content">
        <a class="header link" href="/show/<%-item['id']%>.html" data-method="link" title="<%-item['title']%>"><%-item['title']%></a>
    </div>
    <div class="content this-content">
        <div class="meta"><%-item['subtitle']%></div>
        <div class="summary"><%-item['introduce']%>...</div>
    </div>
    <div class="extra content">
        <%if(item['modifytime']!==item['createtime']){%>
        <span class="right floated">最后修改于<%-dateFormat(item['modifytime'], 'yyyy-MM-dd hh:mm:ss') %></span>
        <%}%>
        <span>
            <i class="fa fa-clock-o"></i>
            <%-dateFormat(item['createtime'], 'yyyy-MM-dd hh:mm:ss') %>
        </span>
    </div>
</div>
<%})%>