<%include ../public/header.html %>


<div class="content-panel" id="contentPanel" data-action="content">
    <!--<% if(!isEmpty(user)){ %>
    <a href="/logOut" class="pull-right">退出</a>
    <% } %>

    <% if(!isEmpty(user) && user.id === 0){ %>
    <a href="/letAdd" class="pull-right">添加文章</a>
    <% } %>-->

    <div class="article-list-index ui cards" id="articleList">
        <div class="content-item ui card">
            <div class="content">
                <a class="header"><%-item['title']%></a>
            </div>
            <div class="content this-content">
                <div class="meta"><%-item['subtitle']%></div>
                <div class="summary"><%-item['content']%></div>
                <div class="that-comments-block">
                    <div class="ui horizontal divider">COMMENTS</div>
                    <div id="uyan_frame"></div>
                </div>
            </div>
            <div class="extra content">
                <%if(item['modifytime']!==item['createtime']){%>
                <span class="right floated">最后修改于<%-dateFormat(item['modifytime'], 'yyyy-MM-dd hh:mm:ss') %></span>
                <%}%>
                <span>
                    <i class="fa fa-clock-o"></i>
                    <%-dateFormat(item['createtime'], 'yyyy-MM-dd hh:mm:ss') %>
                </span>
            </div>
            <a class="ui button teal back" href="/list/<%-item['cat']-%>.html" data-method="back" data-title="<%-item['cat_name']%>">返回</a>
        </div>
    </div>

</div>

<%include ../public/footer.html %>